<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Checkers</title>
	<style type="text/css">
		@font-face {
			font-family: Montserrat;
			src: url({{ url_for('static', filename='Montserrat-regular.ttf') }});
		}
		@font-face {
			font-family: Open-Sans;
			src: url({{ url_for('static', filename='OpenSans-regular.ttf') }});
		}
		@font-face {
			font-family: Roboto;
			src: url({{ url_for('static', filename='Roboto-regular.ttf') }});
		}
	</style>
</head>
<body>
	<!-- make here nav bar template -->
	{% block react %} {% endblock %}
	<script type="text/javascript" src="bundle.js"></script>
</body>
</html>