<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<style type="text/css">
		@font-face {
			font-family: Montserrat;
			src: url({{ url_for('static', filename='Montserrat-regular.ttf') }});
		}
		@font-face {
			font-family: Open-Sans;
			src: url({{ url_for('static', filename='OpenSans-regular.ttf') }});
		}
		@font-face {
			font-family: Roboto;
			src: url({{ url_for('static', filename='Roboto-regular.ttf') }});
		}
	</style>
</head>
<body>
	<!-- temporary -->
	<div class="nav">
		<div class="logo">
			
		</div>
		<div class="user">
			{% if current_user.is_anonymous %}
				<a class="user__log-btn" href="{{ url_for('login') }}">Login</a>
			{% else %}
				<a class="user__log-btn" href="{{ url_for('logout') }}">Logout</a>
			{% endif %}
		</div>
	</div>
	{% block react %} {% endblock %}
	<script type="text/javascript" src="bundle.js"></script>
</body>
</html>